*
{
    border: 0;
    font-family: cursive;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-align: justify;    
}
#menuPrincipal{
    background-color: black;
}
#menu{
    color: white;
}
.navbar-header img {
    height: 70px;
}
.navbar-toggle {
    float: left;
    background-color: black;
    
}
#botonBsucar{
    border-color: wheat;
    background-color: rgb(35, 101, 187);
}
#botonBsucar:hover{
    background-color: rgba(70, 132, 204, 0.986);
    color: white;
}

li:hover{
    background-color: rgba(60, 124, 196, 0.986);
    transition: 150ms;
    color: white;
}

#logo {
    width: 250%;
    height:60px;
}
#circulo{
    left: 0;
    float: left;
}
#logo2{
    width: 50px;
    height: 50px;
    padding-left:50%;
}

#navbarNav{
    background: #c0bcbc;
    float: none;
    padding: 10px;
  }
.d-flex{
    padding-left: 400px;
}
.btn-outline-success{
    background: rgb(0, 0, 0);
color: rgb(255, 255, 255);
}
.btn-outline-success:hover{
    color: black;
}

  div a {
    padding: 12px;
    color: white;
  }
 
  .footer
{
    margin: 10px;
    padding: 10px;
    display: flex;
    background-color: rgba(0, 0, 0, .6);
}

.footer_enl
{
    display: flex;
    font-size: 14pt;
}

footer ul
{
    display: flex;
    color: beige;
}

.footer_enl li
{
    
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
}
#footer{
    background-color: black;
}

footer a
{
    color: beige;
}
#footerImg{
    width: 100px;
    height: 100px;
    border-radius: 2px;
}


#noticia{
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(2, 2, 2);
    border-radius: 4px;
    box-sizing: border-box;
    width: 700px ;
    height: 400px;
    padding-bottom: 4%;
}
#verMas{
    color: blue;
}
#f1,#f2{
    color: white;
}